@media(max-width:1200px) {
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }

    body {
        background-color: #5c525d;
    }

    .main {
        height: 60px;
        width: 80%;
        margin: auto;
        background-color: rgb(0, 0, 0);
    }

    .ul {
        display: flex;
        padding: 20px;
        width: 100%;
        background-color: #bab0bf;
    }

    li {
        list-style: none;
        padding-left: 25px;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);

    }

    .img {
        height: 450px;
        width: 80%;
        margin: 25px auto;
        border: 1px solid white;
    }

    .img .images {
        height: 400px;
        width: 100%;

    }

    .main2 {
        height: 500px;
        width: 80%;
        margin: auto;
        border: 1px solid white;
        display: flex;
        justify-content: space-around;
    }

    .img1 {
        height: 455px;
        width: 20%;
        margin-top: 25px;
        border: 1px solid white;
    }

    .img4 {
        height: 450px;
        width: 100%;
    }

    .img2 {
        height: 455px;
        width: 20%;
        margin-top: 25px;
        border: 1px solid white;
    }

    .img5 {
        height: 450px;
        width: 100%;
    }

    .img3 {
        height: 455px;
        width: 20%;
        margin-top: 25px;
        border: 1px solid white;
    }

    .img6 {
        height: 450px;
        width: 100%;
    }
}

@media(max-width:992px) {

    /* *
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */
    body {
        background-color: #354d6a;
    }

    .main {
        height: 60px;
        width: 80%;
        margin: auto;
        background-color: rgb(0, 0, 0);
    }

    .ul {
        display: flex;
        padding: 20px;
        width: 100%;
        background-color: #eddde0;
    }

    li {
        list-style: none;
        padding-left: 25px;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);

    }

    .img {
        height: 450px;
        width: 80%;
        margin: 25px auto;

    }

    .main2 {
        height: 1000px;
        width: 80%;
        margin: auto;
        border: 1px solid white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .img1 {
        height: 455px;
        width: 48%;
        border: 1px solid white;
    }

    .img2 {
        height: 455px;
        width: 48%;
        border: 1px solid white;
    }

    .img3 {
        height: 455px;
        width: 80%;
        margin: auto;
        border: 1px solid white;
    }
}

@media(max-width:768px) {
    body {
        background-color: #0b545d;
    }

    .main {
        height: 60px;
        width: 80%;
        margin: auto;
        background-color: rgb(0, 0, 0);
    }

    .ul {
        display: flex;
        padding: 20px;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    li {
        list-style: none;
        padding-left: 25px;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);

    }

    .img {
        height: 450px;
        width: 80%;
        margin: 25px auto;
    }

    .main2 {
        height: 1500px;
        width: 80%;
        margin: auto;
        border: 1px solid white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .img1 {
        height: 455px;
        width: 100%;
        border: 1px solid white;

    }

    .img2 {
        height: 455px;
        width: 100%;
        position: relative;
        border: 1px solid white;
    }

    .img3 {
        height: 455px;
        width: 100%;
        position: relative;
        border: 1px solid white;
    }
}

@media(max-width:576px) {
    body {
        background-color: #A294F9;
    }

    .main {
        height: 60px;
        width: 80%;
        margin: auto;
        background-color: #CDC1FF;
    }

    .ul {
        display: flex;
        padding: 20px;
        width: 100%;
        background-color: #CDC1FF;
    }

    li {
        list-style: none;
        padding-left: 25px;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);

    }

    .img {
        height: 450px;
        width: 80%;
        margin: 25px auto;
    }

    .main2 {
        height: 850px;
        width: 80%;
        margin: auto;
        border: 1px solid white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .img1 {
        height: 250px;
        width: 60%;
        border: 1px solid white;
        margin: auto;

    }

    .img4 {
        height: 240px;
        width: 100%;
    }

    .img2 {
        height: 250px;
        width: 60%;
        position: relative;
        border: 1px solid white;
        margin: auto;
    }

    .img5 {
        height: 240px;
        width: 100%;
    }

    .img3 {
        height: 250px;
        width: 60%;
        position: relative;
        border: 1px solid white;
        margin: auto;
    }

    .img6 {
        height: 240px;
        width: 100%;
    }
}